extends layout
       
block middle
    section.section.has-background-white
        h1.title
            .has-text-black
                .has-text-centered About us
        br
        p.has-text-black.has-text-centered
            | We are Robin GUYOMAR and Maxence BOURGEAUX, students in Master 2 IWOCS at University of Le Havre.
        br
        p.has-text-black.has-text-centered
            | This website of real estate ads is a project realized for the WEB subject taught by :
        a(href='https://pigne.org').has-text-info
            .has-text-centered Yoann Pigné
        br
        br
        .columns.is-mobile.is-centered.has-text-black
                        .column.is-one-quarter
                            figure 
                                img(src='img/logo_univ.jpg')    