extends layout

block heroFoot
    // Hero footer: will stick at the bottom
    section.hero
        .is-primary
            .is-small
                .has-background-info
                    .hero-foot
                        nav.breadcrumb.is-centered(aria-label='breadcrumbs')
                            .has-bullet-separator
                                ul
                                    li
                                        a(href='/').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-home(aria-hidden='true')
                                            span Accueil
                                    li
                                        a(href='announce').has-text-white
                                            span.icon.is-small
                                                i.far.fa-question-circle(aria-hidden='true')
                                            span Annonces
                                    li.is-active.has-text-black
                                        a
                                            span.icon.is-small
                                                i.far.fa-file-alt(aria-hidden='true')
                                            span Ajouter une annonce
                                    li
                                        a(href='about').has-text-white
                                            span.icon.is-small
                                                i.far.fa-question-circle(aria-hidden='true')
                                            span A propos
block middle
    section.section
        form(method="POST" action='/announce')
            .columns.is-centered
                .column.is-half
                    .notification.is-primary.has-background-link-light
                        .field.has-addons.has-addons-centered
                        label.label Titre :
                        .control
                        input.input(type='text' required='required' name='title' placeholder='Titre de l\'annonce ...')

                        .field
                        label.label Type de bien :
                        .control
                        .select
                            select(name='type' required='required')
                                option(value='') Choisir une option
                                option(value='Vente') Vente
                                option(value='Location') Location

                        .field
                        label.label Status de publication :
                        .control
                        .select
                            select(name='publicationStatus' required='required')
                                option(value='') Choisir une option
                                option(value='Publiée') Publiée
                                option(value='Non publiée') Non publiée

                        .field
                        label.label Status de bien :
                        .control
                        .select
                            select(name='goodStatus' required='required')
                                option(value='') Choisir une option
                                option(value='Disponible') Disponible
                                option(value='Loué') Loué
                                option(value='Vendu') Vendu

                        .field
                        label.label Description :
                        .control
                        textarea.textarea(name='description' required='required' placeholder='Décrivez votre annonce en quelques lignes ...')

                        .field
                        label.label Prix :
                        .control
                        input.input(name='price' required='required' type='number', min='0')

                        .field
                        label.label Date de disponibilité :
                        input.input(type='date', required='required', name='firstDate', value='2021-01-01', min='2021-01-01')
                        label.label au :
                        input.input(type='date', required='required' name='secondDate', value='2021-01-01', min='2021-01-01')

                        .field
                            label.label Photos :
                            input.input(type="file" name="photos" required multiple data-max-file-size="3MB" accept='image/png, image/jpeg')

                        .field
                        .control
                        button.button.is-link(type='submit' style='display: block; margin: 0 auto;') Envoyer
