doctype html

html
    head
        link(rel='stylesheet' type='text/css' href='../../bulma/bulma.css')
        link(rel='stylesheet', href='../../stylesheets/style.css')
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js' data-auto-a11y='true')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{title}
    body
        block content
            block heroHeader
                section.hero
                    .is-primary
                        .is-small
                            .has-background-info
                                // Hero head: will stick at the top
                                .hero-head

                                // Hero content: will be in the middle
                                .hero-body
                                    .container
                                        .has-text-centered
                                            p.title.has-text-white
                                                | Le Bon Logement

            block heroFoot

            block middle

        block foot
            footer.footer.wrapper.has-background-light
                .content.has-text-centered.has-text-black.wrapper
                    p
                    strong Bulma
                    |  by Maxence Bourgeaux and Robin Guyomar
                    span.icon-text
                        span.icon
                            i.far.fa-copyright
