extends layout

block heroFoot
    // Hero footer: will stick at the bottom
    section.hero
        .is-primary
            .is-small
                .has-background-info
                    .hero-foot
                        nav.breadcrumb.is-centered(aria-label='breadcrumbs')
                            .has-bullet-separator
                                ul
                                    li
                                        a(href='/').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-home(aria-hidden='true')
                                            span Home
                                    li
                                        a(href='announces').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-list-ul(aria-hidden='true')
                                            span Announces
                                    li
                                        a(href='form').has-text-white
                                            span.icon.is-small
                                                i.far.fa-file-alt(aria-hidden='true')
                                            span Add an announce
                                    li
                                        a(href='about').has-text-white
                                            span.icon.is-small
                                                i.far.fa-question-circle(aria-hidden='true')
                                            span About
                                    li
                                        a(href='login').has-text-white
                                            span.icon.is-small
                                                i.fas.fa-plug(aria-hidden='true')
                                            span Login    
                                    li.is-active.has-text-black
                                        a
                                            span.icon.is-small
                                                i.fas.fa-sign-in-alt(aria-hidden='true')
                                            span Sign up
                                                   
block middle
    section.section
        -data = data || {}

        if errors
            ul
                for error in errors
                    li= error.msg

        form(action='signup' method='POST')
            .columns.is-centered
                .column.is-half
                    .notification.is-primary.has-background-link-light
                        .field
                        label.label(for='name') Name
                        p.control.has-icons-left
                            input.input(type='text' required='required' id='name' name='name' maxlength='50' value=data.name placeholder='Name')
                            span.icon.is-small.is-left
                                i.fas.fa-user-circle

                        .field
                        label.label(for='email') E-mail
                        p.control.has-icons-left
                            input.input(type='email' required='required' id='email' name='email' maxlength='50' value=data.email placeholder='Example : ludovic@aol.com')
                            span.icon.is-small.is-left
                                i.fas.fa-envelope

                        .field
                        label.label(for='password') Password
                        p.control.has-icons-left
                            input.input(type='password' required='required' id='password' name='password' minlength='6' maxlength='100' value=data.hashedPassword placeholder='Password')
                            span.icon.is-small.is-left
                                i.fas.fa-lock

                        .field
                        label.label Announcer
                        .control.has-text-black
                            label.radio
                                input(type='radio' name='announcer' required='required' value='true')
                                |     Yes
                            label.radio
                                input(type='radio' name='announcer' required='required' value='false' checked='')
                                |     No

                        .field
                        .control
                        button.button.is-link(type='submit' value='submit' style='display: block; margin: 0 auto;') Submit