@import '~bulma';

/* Center the footer */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
}

div.preview-images > img {
    width: 30%;
}